.idea
__pycache__
.DS_Store


checkpoints/*
checkpoint/*
ckpt_A/*
ckpt_B/*
Face_Detection/shape_predictor_68_face_landmarks.dat
Face_Enhancement/checkpoints/*
Face_Enhancement/face_checkpoints.zip
Global/checkpoints/*
Global/global.zip
m_outputdomainA_SR_old_photos/*
ckpt_Mapping/*
Face_Enhancement/*
Face_Detection/*

